textarea{
margin-top:20px;
width:100%;
}
.ctat{
width:89%;
margin-left:4%;
}
#p{
margin-left:5%;
}
fieldset{
border-color:red;
}
#r1{
margin-left:5%;
display:inline-block;
}
#r2{
display: inline-block;
}
#r3{
display: inline-block;
}
@media (max-width:1300px) {
textarea{
width:100%;
font-size:20px;
}
fieldset{
border-color:red;
border-width:20%;
width:30%;
}
.ctat{
width:100%;
margin-left:0;
}
#r1{
margin-left:0;
}
#r2{
margin-left:0;
}
#r3{
margin-left:0;
}
.p0{
display:flex;
flex-direction:column;
}
.text{
margin:0;
}
.text2{
margin-top:5%;
margin: 0;
}
.op1{
margin-bottom:5%;
}
}